.jumbotron {
    background-color: whitesmoke;
    width: 100%;
    font-size: 48px;
    justify-content: space-around;
    font-family: 'Righteous', cursive;
    
}
.card {
    align-content: center;
    padding: 2px;
    margin: 1px;
    background-color: whitesmoke ;
    border-width: 2px 6px 6px 2px;
    border-color: lightgray;
    box-shadow: 3px 3px rgb(168, 167, 167);
    border-style: solid;
    height: 300px;
}

#para1 {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;


}



