.card {
    align-content: center;
    padding: 10px 10px;
    margin: 10vw;
    border-width: 10px;
    border-color: lightgray;
    box-shadow: 5px 5px gray;
}

h1 {
    font-size: 42px;
    text-align: left;
    font-family: 'Righteous', cursive;

}


